.daftar__ulang {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.daftar__ulang h1 {
    font-size: 2rem;
    margin: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

.daftar__ulang h2 {
    font-size: 1.4rem !important;
    text-align: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.pengaturan__pembayaran {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}

.accordion {
    min-width: 75vw;
    background-color: var(--background-color);
    font-family: "Poppins", sans-serif;
    margin: 1rem;
}

.accordion span {
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--primary-color);
}

.chip__span span {
    color: var(--background-color);
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.tabs {
    font-family: "Poppins", sans-serif;
    width: 100vw;
}

.riwayat__pembayaran {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
}

.catatan__daftar__ulang__button {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 3rem;
}

.informasi__modal {
    font-family: "Poppins", sans-serif;
}

.informasi__modal b {
    color: var(--primary-color);
}

.pengaturan__discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
}

.ubah_status_bill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
}

.catatan__daftar__ulang__button {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 3rem;
}

.center-text {
    text-align: center; /* Menengahkan teks secara horizontal */
    vertical-align: middle; /* Menengahkan teks secara vertikal */
  }
  

